@model RadarLiterario.Models.Usuario

@{
    ViewData["Title"] = "Minha Conta - ";
}

<h3>Minha conta</h3>

<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sobrenome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataDeNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataDeNascimento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Email">Editar</a> |
    <a asp-controller="Home" asp-action="Index">Voltar</a>
</div>
